@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

.todo-page {
  background: #1A1A40;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.wel{
    position: absolute;
    top: 23%;
    left: 4%;
    font-weight: 800;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #1A1A40;
  padding: 2rem;
  border-radius: 5px;
  height: 100vh;
  width: 100vw;
  position: relative;
  top: 60%;
}

.TodoForm {
    width: 100vw;
    margin-bottom: 1rem;
    position: relative;
    margin-top: -8%;
    left: 4%;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #8758ff;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background: #8758ff;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.Todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #8758ff;
    color: #fff;
    padding: 0.75rem 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    position: relative;
    margin-top: -2%;
    left: 3.6%;
    width: 95%;
}


.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}
.back{
  background-color:#8758ff;
  border-radius:6px ;
  border: none;
  height: 40px;
  width: 80px;

}
.back{
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 26%;
    left: 4%;
}
.todo-page.darkmode {
  background: #121212;
}

.todo-page.darkmode .TodoWrapper {
  background: #1e1e1e;
}

.todo-page.darkmode .todo-input {
  border: 1px solid #ffffff;
  background-color: #2c2c2c;
  color: white;
  border-right: none;
}

.todo-page.darkmode .todo-input::placeholder {
  color: #bbbbbb;
}

.todo-page.darkmode .todo-btn {
    background-color: #222123;
    color: white;
    border: 1px solid #fff;
    border-left: none;
    height: 33.5px;
    position: relative;
    /* margin-top: 10%; */
    top: 1px;
}

.todo-page.darkmode .Todo {
  background-color: #2d2d2d;
  color: white;
}

.todo-page.darkmode .completed {
  color: #9b83ff;
}

.todo-page.darkmode .edit-icon,
.todo-page.darkmode .delete-icon {
  color: white;
}

.todo-page.darkmode .back {
  background-color:  #222123;
  color: white;
  
}
.todo-page h2{ 
  position: absolute;
  top:8%;
  left: 50%;
}
@media (max-width:600px){
.switch{
    width: 4rem;
    height: 1.7rem;
    
  }
  .cen{
    display: flex;
    justify-content: center;
  }
  .switch::after{
    left: -6px;
    width: 1.6rem;
    height: 1.6rem;
  }
  .todo-input{
    width: 60%;
  }
  .logout-wrapper {
    position: absolute;
    top: 1rem;
    right: 1rem;
    margin: 0;
    z-index: 1000;
  }
   .todo-page  h2{
    position: absolute;
    top:8%;
    left: auto;
    
  } 
  .TodoForm{
    margin-top: -30%;
  }
  .back{
    position: relative;
    left: 4%;
    top: 30%;
  }
  .centerrr > h2{
    /* position: fixed; */
    /* left:34%; */


  }
}